@model MandAjuda.Models.Mensagem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mensagem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Chamado.From)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chamado.From)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profissional.NomeCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profissional.NomeCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.From)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.From)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.To)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.To)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MensagemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
