@model MandAjuda.Models.RelatAtend

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RelatAtend</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Chamado.From)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chamado.From)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profissional.NomeCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profissional.NomeCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataTermino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataTermino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraTermino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraTermino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Situacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Situacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RelatAtendId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
