@model IEnumerable<MandAjuda.Models.RelatAtend>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Chamado.From)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profissional.NomeCompleto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataTermino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraInicial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraTermino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Situacao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Chamado.From)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Profissional.NomeCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataTermino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraInicial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraTermino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Situacao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RelatAtendId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RelatAtendId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RelatAtendId })
        </td>
    </tr>
}

</table>
