@model MandAjuda.Models.Chamado

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h4>Chamado</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <input type="hidden" name="ClienteId" id="ClienteId" value="@ViewBag.ClienteId" />

    <input type="hidden" name="ProfissionalId" id="ProfissionalId" value="@ViewBag.ProfissionalId" />

    <input type="hidden" name="Situacao" id="Situacao" value="1" />

    <input type="hidden" name="To" id="To" value="@ViewBag.To" />

    <div class="form-group">
        @Html.LabelFor(model => model.From, new { style = "display:none;" }@*htmlAttributes: new { @class = "control-label col-md-2" }*@)

        @Html.TextBoxFor(model => model.From, new { style = "display:none;", @Value = "mandajudaservico@gmail.com", htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.From, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Subject, new { style = "display:none;" }@* htmlAttributes: new { @class = "control-label col-md-2" }*@)
        <div>
            @Html.TextBoxFor(model => model.Subject, new { style = "display:none;", @Value = "Chamado Mand'Ajuda", htmlAttributes = new { @class = "form-control" } })

        </div>
    </div>

    <div class="form-group" style="margin-top:100px">
        @Html.LabelFor(model => model.Body, htmlAttributes: new { style = "display:none;" }@* htmlAttributes: new { @class = "control-label col-md-2" }*@)
        <div class="col-md-4">
            @Html.EditorFor(model => model.Body, new { htmlAttributes = new { @class = "form-control", style = "height:150px", placeholder = "Digite sua mensagem" } })
            @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
