@model MandAjuda.Models.Chamado

@{
    ViewBag.Title = "Details";
}

<br />
<br />
<br />
<br />
<br />
<br />
<h2>Details</h2>

<div>
    <h4>Chamado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p>Cliente:</p>
            <input type="hidden" name="ClienteId" id="ClienteId" value="@ViewBag.Cliente" />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>

        <dt>
            <p>Profissional:</p>
            <input type="hidden" name="ProfissionalId" id="ProfissionalId" value="@ViewBag.Profissional" />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profissional.NomeCompleto)
        </dd>

        <dt>
            <p>Situacao:</p>
        </dt>

        <dd>
            @if (Model.Situacao == 1)
            {
                <p>Em Execução</p>
            }
            @if (Model.Situacao == 2)
            {
                <p>Cancelado</p>
            }
            @if (Model.Situacao == 3)
            {
                <p>Finalizado</p>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-default" href="http://localhost:51258/Mensagens/Index?idc=@Model.ChamadoId&idp=@Model.ProfissionalId">Histórico de Mensagens</a>

    <a class="btn btn-default" href='http://localhost:51258/Mensagens/Create?idp=@Model.ProfissionalId&idc=@Model.ChamadoId'>Contatar</a>

</p>
