@model IEnumerable<MandAjuda.Models.Chamado>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TituloChamado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescricaoChamado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QualificacaoChamado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescricaoQualificacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PontuacaoEstrela)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TituloChamado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescricaoChamado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QualificacaoChamado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescricaoQualificacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PontuacaoEstrela)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ChamadoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ChamadoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ChamadoID })
        </td>
    </tr>
}

</table>
