@model IEnumerable<MandAjuda.Models.Chamado>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tituloChamado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descricaoChamado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qualificacaoChamado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descricaoQualificacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pontucaoEstrela)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tituloChamado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descricaoChamado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qualificacaoChamado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descricaoQualificacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pontucaoEstrela)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ChamadoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ChamadoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ChamadoID })
        </td>
    </tr>
}

</table>
