@model IEnumerable<MandAjuda.Models.Chamado>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<center><h3>Meus Chamados</h3></center>
<br />
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ChamadoId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ChamadoId, idc = item.ChamadoId, idp = item.ProfissionalId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ChamadoId })
            </td>
        </tr>
    }

</table>
